@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;

}



body {
  font-family: 'Poppins', sans-serif;
  background-color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.aumentar {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.aumentar:hover {
  transform: scale(1.01);
}




.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/editores-codigo-javascript.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.hero2 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/editores-codigo-javascript.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.hero3 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/editores-codigo-javascript.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.hero4 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/tras4.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-weight: 300;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__img {
  display: block;
  width: 30px;
}

.nav_indice{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_indice__a{
  background-color: #555;
  border-radius: 20px;
  color: #fff;
  margin: 20px;
  padding: 15px;
  text-decoration:none ;
}

.nav_indice__a:hover{
  color:gray
}


.aparecer {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.aparecer.visible {
  opacity: 1;
  transform: translateY(0);
}

.salto {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.salto:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 700px) {
  .nav__items {

    display: block;
  }
}


.aparecer {
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: aparecer 1s forwards;
}

@keyframes aparecer {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.icono {
  float: right;
  font-size: 22px;
}

@media (max-width: 850px) {

  .nav__links {
    display: none;
  }
}

@media (min-width: 850px) {
  .icono {
    display: none;
  }

}


/* Hero container */

.hero__container {
  max-width: 800px;
  --padding-container: 20px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title {
  font-size: 5rem;
  font-family: 'Lora', sans-serif;
}

.cta {
  display: inline-block;
  background-color: #2091F9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;

}

/*Foto de Historia*/
.hero2__container {
  max-width: 800px;
  --padding-container: 20px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero2__title {
  font-size: 5rem;
  font-family: 'Lora', sans-serif;
}

/*Foto de Actividades*/
.hero3__container {
  max-width: 800px;
  --padding-container: 20px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero3__title {
  font-size: 5rem;
  font-family: 'Lora', sans-serif;
}

/*Foto de Historia*/
.hero4__container {
  max-width: 800px;
  --padding-container: 20px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero4__title {
  font-size: 5rem;
  font-family: 'Lora', sans-serif;
}

/*Index*/
.titulos >h2 {
  color: #000;
  text-shadow:
  10px 6px 0px #f6ff00;
  font-family: 'Lobster', cursive;
}


/*Aside*/
.body {
  display: flex;
  flex-wrap: wrap;
}


.main {
  flex: 1;
}

.bloque-derecha {
  flex: 0 0 300px;
  background-color: #555;
  margin-right: 100px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 10px 15px 50px 13px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 10px 15px 50px 13px rgba(0, 0, 0, 0.28);
  box-shadow: 10px 15px 50px 13px rgba(0, 0, 0, 0.28);
  background-color: rgb(192, 228, 247);
}

.bloque-derecha__img{
  object-fit: contain;
  width: 280px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;

}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  main {
    margin-right: 0;/
  }

  .bloque-derecha {
    width: 100%;

  }
}





/* Ejercicios*/


.knowledge__container {
  align-items: center;
  -webkit-box-shadow: 10px 15px 50px 13px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 10px 15px 50px 13px rgba(0, 0, 0, 0.28);
  box-shadow: 10px 15px 50px 13px rgba(0, 0, 0, 0.28);
  background-color: rgb(215, 219, 221);
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.knowledge__paragraph {
  line-height: 1.7;
  margin-bottom: 5px;
  margin: 40px;
  text-align: justify;
}

.knowledge__img {
  width: 130px;
  height: auto;
  object-fit: contain;
  margin: 20px;
  align-items: center;
  border: solid 5px #555;
  cursor: pointer;
}

.knowledge__img__float{
  margin: 0 auto;
  padding: 20px;
  

}


/* Ejercicio 1*/
.dark-theme {
  background-color: #fff; /* Fondo oscuro */
}

/*Ejercicio 3*/
.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.full-image {
  display: none;
  max-width: 100%;
  height: auto;
}
