* {
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(139, 133, 86);
}


.navbar__ul {
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

.navbar__ul__li {
  display: inline-block;
  text-align: right;
  position: relative;
  padding: 20px;
  color: #fff;

}

.navbar__ul__li-a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.navbar__ul__li-a:hover {
  color: greenyellow;
}

.navbar__ul__li:hover {
  color: greenyellow;
}

.navbar__ul__li-a::before {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .2s;

}

.navbar__ul__li-a:hover::before {
  width: 90%;
}


@media (max-width: 940px) {

  .navbar {
    display: none;
  }

}




/* BODY */

* {
  box-sizing: border-box;

}


body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container › * {
  box-shadow: -1px 1px 7px 0px black (0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: rgb(139, 133, 86);
}

.main {
  grid-area: main;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  
}

.main__article{
  background-color: aqua;
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
  

}


.footer {
  grid-area: footer;
  background-color: gray;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 100px auto;
  grid-template:
    "header header" 76px 
    "main main"  
    "footer footer" 100px /
    500px;
}


@media (max-width: 820px) {
  .grid-container {
    background-color: black;
    grid-template:
      "header header" 76px
      "main main" 500px
      "footer footer" 100px;


  }


}