* {
  box-sizing: border-box;
}

.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar__ul {
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.navbar__ul__li {
  display: inline-block;
  text-align: right;
  position: relative;
  color: gray;
  padding: 30px;
  
}

.navbar__ul__li:hover {
  color: darkgray;
}

.navbar__ul__li::before {
  content: '';
  position: absolute;
  top: 70%;
  left: 0;
  width: 0;
  height: 2px;
  background: darkgray;
  transition: .1s;

}

.navbar__ul__li:hover::before {
  width: 100%;
  
}

.div-img {
  width: 100%;
}

.header-img {
  object-fit: cover;
  height: 40rem;
  width: 100%;
}




/* body */


.grid-container › * {
  box-shadow: -1px 1px 7px 0px black (0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  
}

.main__article{
  background-color: aqua;
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
  

}

.main__article1{
  background-color: aqua;
  width: 300px;
  height: 600px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
  

}


.footer {
  grid-area: footer;
  background-color: gray;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 100px auto;
  grid-template:
    "header header" 76px 
    "main main"  
    "footer footer" 100px /
    500px;
}


@media (max-width: 820px) {
  .grid-container {
    background-color: #fff;
    grid-template:
      "header header" 76px
      "main main" 500px
      "footer footer" 100px;


  }


}


.main__article1__div{
  width: 100px;
  height: 50px;
  
}