body{
    color: #fff;
    background-color: darkorchid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}